<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.zakbot.butler-flights</string>
    <key>WorkingDirectory</key>
    <string>/Users/zakir/zakbot/butler</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/zakir/zakbot/butler/.venv/bin/python</string>
        <string>-m</string>
        <string>butler.flight_worker</string>
    </array>
    <key>StartCalendarInterval</key>
    <array>
        <dict>
            <key>Hour</key>
            <integer>6</integer>
            <key>Minute</key>
            <integer>0</integer>
        </dict>
        <dict>
            <key>Hour</key>
            <integer>18</integer>
            <key>Minute</key>
            <integer>0</integer>
        </dict>
    </array>
    <key>StandardOutPath</key>
    <string>/Users/zakir/zakbot/butler/logs/flights.out.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/zakir/zakbot/butler/logs/flights.err.log</string>
</dict>
</plist>
